# Consul Helm Chart Values
# Установка Consul с 3 репликами сервера

global:
  name: consul
  datacenter: dc1

server:
  replicas: 3
  bootstrapExpect: 3
  storage: 10Gi
  storageClass: ""
  
connectInject:
  enabled: false

controller:
  enabled: false

meshGateway:
  enabled: false

ingressGateways:
  enabled: false

terminatingGateways:
  enabled: false
