global:
  enabled: true
  tlsDisable: true

server:
  ha:
    enabled: true
    replicas: 3
    config: |
      ui = true
      
      listener "tcp" {
        address = "[::]:8200"
        cluster_address = "[::]:8201"
        tls_disable = 1
      }
      
      storage "consul" {
        path = "vault/"
        address = "consul-server.consul.svc.cluster.local:8500"
        scheme = "http"
      }
      
      cluster_addr = "https://[::]:8201"
      api_addr = "http://[::]:8200"
      
      seal "shamir" {
      }
